:host {
  .menus {
    display: flex;
    flex-direction: column;
    padding: 0 90px;
    margin-top: 45px;
    .buttons {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 16px;
      button:not(:last-child) {
        margin-right: 8px
      }
    }
  }
  tr, td {
    padding: 8px 0px;
  }
}
