form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:  column;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  color: #a4a8a9;
  .mat-form-field {
    width: 100%;
  }
  button {
    width: 100%;
    margin-bottom: 16px;
  }
}
