/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
  max-width: 1140px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:  column;
  width: 300px;
  height: 350px;
  border: 1px solid #a4a8a9;
  padding: 32px;
  border-radius: 5px;
  color: #a4a8a9;
  background-color: #f9f9f9;
  .mat-form-field {
    width: 100%;
  }
  button {
    width: 100%;
    margin-bottom: 16px;
  }
  a {
    text-decoration: none;
  }
}

h1.heading {
  color: #333c44;
}
