<div class="login">
  <h1>Here you can Register</h1>
  <p>Let's join us!</p>
  <form *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
        class="form">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        name="username"
        [(ngModel)]="form.username"
        required
        minlength="3"
        maxlength="20"
        #username="ngModel"
        placeholder="Username">
      <div class="alert-danger" *ngIf="f.submitted && username.invalid">
        <div *ngIf="username.errors!.required">Username is required</div>
        <div *ngIf="username.errors!.minlength">
          Username must be at least 3 characters
        </div>
        <div *ngIf="username.errors!.maxlength">
          Username must be at most 20 characters
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput
             type="email"
             class="form-control"
             name="email"
             [(ngModel)]="form.email"
             required
             email
             #email="ngModel"
             placeholder="Email">
      <div class="alert-danger" *ngIf="f.submitted && email.invalid">
        <div *ngIf="email.errors!.required">Email is required</div>
        <div *ngIf="email.errors!.email">
          Email must be a valid email address
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput
             type="password"
             class="form-control"
             name="password"
             [(ngModel)]="form.password"
             required
             minlength="6"
             #password="ngModel"
             placeholder="Password">
      <div class="alert-danger" *ngIf="f.submitted && password.invalid">
        <div *ngIf="password.errors!.required">Password is required</div>
        <div *ngIf="password.errors!.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </mat-form-field>
    <button mat-raised-button color="primary" class="save">Sign up</button>
    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
      Signup failed!<br />{{ errorMessage }}
    </div>
  </form>
  <div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
  </div>
  <a routerLink="/login">Login</a>
</div>
